---
import Layout from '../layouts/about.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('October 23, 2024')}
	heroImage="/codes/prof_fence.jpg"
>
	<p>
		Hello! I am Filipa Calado, an <a href='https://www.pratt.edu/people/filipa-calado/'>Assistant 
		Professor at Pratt Institute, School of Information</a>	in New York City, where I teach courses
		on critical data studies, python programming, and I do research on algorithmic bias. To learn 
		more about my teaching or research, visit my <a href='https://filipacalado.com'>personal 
		website</a>.
	<p>
		I created this blog to track my progress on a book project called <i>The Queer Codes Handbook</i>. 
		This book takes core computational concepts, like iteration, data structures, abstraction, and 
		prediction, which necessarily reduce the complexity of real world objects. My work critiques these
		concepts from the lens of Queer Studies, with the goal of re-imagining and re-deploying computational
		tools toward different kinds of representation.
	</p>
</Layout>
