---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to <i>Queer Codes</i></h1>
			<p>
				This is a blog for the <i>Queer Codes</i> book project, where I will be documenting my 
				progress on the book, which explores how concepts from Queer Studies can be applied to 
				computation. 
			</p>
			<p>
				Read my <a href="/blog/design_justice">first blog post</a>, which is about exploring the
				parallels between trans studies' investments in normativity and prediction algorithms
				in machine learning.
			</p>
		</main>
		<Footer />
	</body>
</html>
